<div id="popup-content">

  <center><h2>Prescriptions</h2></center>
  <center> <%= @appointment&.patient&.name %> - <%= @appointment&.patient&.case_number%> </center>
  <div class="patient-table">
    <table>
      <thead>
        <tr>
          <th>Medicine Name</th>
          <th>Dose</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <% prescriptions.each do |prescription| %>
          <tr>
            <td><%= prescription.medicine.name %></td>
            <td><%= prescription.dosage %></td>
            <td><%= prescription.note %></td>

          </tr>
          <!-- Example of displaying data from the model -->
        <% end %>
      </tbody>
    </table>
    <center>
      <%= link_to 'Close', '#', id: "close-popup", class: 'btn btn-followup'%>
    </center>
  </div>
</div>