<h1 class="form-title">New Prescription</h1>

<%= form_with(model: @prescription, local: true) do |form| %>
  <% if @prescription.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h2>
      <ul>
        <% @prescription.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :appointment_id, value: params[:appointment_id] %>
    <%= form.hidden_field :follow_up_id, value: params[:follow_up_id] %>

  <div class="form-group">
    <%= form.label :medicine, class: 'label' %>
    <%= form.select :medicine_id, [], { include_blank: 'Select Medicine' }, class: 'input-field searchable-select', id: 'medicine_select' %>
  </div>

  <div class="form-group">
    <%= form.label :dosage, class: 'label' %>
    <%= form.text_field :dosage, class: 'input-field' %>
  </div>

  <div class="form-group">
    <%= form.label :note, class: 'label' %>
    <%= form.text_field :note, class: 'input-field' %>
  </div>


  <div class="form-group">
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>

<script>
  
  document.addEventListener("DOMContentLoaded", () => {
  // Initialize Select2 on the medicine select field
    $('#medicine_select').select2({
      placeholder: "Search Medicine",
      allowClear: true,
      ajax: {
        url: "<%= search_medicines_prescriptions_path %>",  // The route for searching medicines
        dataType: 'json',
        delay: 250,  // Delay before the request is sent
        data: function (params) {
          return {
            q: params.term  // Send the search query
          };
        },
        processResults: function (data) {
          return {
            results: data.medicines.map(function(medicine) {
              return {
                id: medicine.id,
                text: medicine.name
              };
            })
          };
        }
      }
    });
  })
</script>
