<center><h1>Daily Appointments</h1>

<%#= link_to 'New Appointment', new_appointment_path, class: 'btn btn-primary mb-10' %>
<%= link_to 'New Appointment', '#', class: 'show-popup-appointment btn btn-secondary' %>



</center>
<div class="search-bar">
  <%= form_with url: daily_appointments_path, method: :get, local: true do %>
    <input type="date" name="date" placeholder="Search by date" value="<%= params[:date] || Date.today %>">
    <button type="submit">Search</button>
  <% end %>
</div>


<div class="patient-table">
  <table>
    <thead>
      <tr>
        <th> number </th>
        <th> Appointment Type </th>
        <th>Patient Name</th>
        <th>Phone number</th>
        <th>Case Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each_with_index do |appointment, i| %>
        <tr class="<%= appointment.homeopathy? ? 'homeopathy' : 'allopathy'%> <%= appointment&.prescriptions&.any? ? 'completed' : ''%> ">
          <td> <%= i + 1 %></td>
          <td><%= appointment.appointment_type %></td>

          <td><%= appointment.patient_name %></td>
          <td><%= appointment&.patient&.phone_number %></td>
          <td><%= appointment&.patient&.case_number %></td>
          <td>
            <%= link_to 'Prescription', '#', class: 'show-popup-prescription btn btn-secondary', data: { appointment_id: appointment.id } %>
            <%= link_to 'Follow up', patient_follow_ups_path(appointment.patient), class: 'btn btn-followup' if appointment.patient.present? && !appointment.complete? %> 

            <%#= link_to 'Complete Followup', change_status_appointment_path(id: appointment.id, appointment_status: Appointment.appointment_statuses[:followup]), class: 'btn btn-edit' if appointment.waiting? %>
            <%#= link_to 'Complete Prescription', change_status_appointment_path(id: appointment.id, appointment_status: Appointment.appointment_statuses[:complete]), class: 'btn btn-view' if appointment.followup? %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
</div>

<script>
  
  document.addEventListener("DOMContentLoaded", () => {
    $(document).on('click', '.show-popup-prescription', function (event) {
      event.preventDefault();
      const appointmentId = $(this).data('appointment-id');
      $.ajax({
        url: `/appointments/${appointmentId}/prescriptions`,
        type: 'GET',
        success: function (response) {
          // Append the popup content to the body
          $('body').append('<div id="popup-overlay"></div>');
          $('#popup-overlay').html(response);
          $('#popup-overlay').fadeIn();
        },
        error: function (xhr) {
          alert('Failed to load popup content.');
        }
      });
    });

    $(document).on('click', '.show-popup-appointment', function (event) {
      event.preventDefault();
      $.ajax({
        url: `/appointments/new`,
        type: 'GET',
        success: function (response) {
          // Append the popup content to the body
          $('body').append('<div id="popup-overlay"></div>');
          $('#popup-overlay').html(response);
          $('#popup-overlay').fadeIn();
        },
        error: function (xhr) {
          alert('Failed to load popup content.');
        }
      });
    });

    $(document).on('click', '#close-popup', function () {
      $('#popup-overlay').fadeOut(function () {
        $(this).remove();
      });
    });
  });

</script>
  