<center><h1>Patients</h1>

<%= link_to 'New Patient', new_patient_path, class: 'btn btn-primary mb-10' %>
</center>
<div class="search-bar">
  <%= form_with url: patients_path, method: :get, local: true do %>
    <input type="text" name="query" placeholder="Search by Name or Case Number" value="<%= params[:query] %>">
    <button type="submit">Search</button>
  <% end %>
</div>

<div class="patient-table">

  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Case Number</th>
        <th>Sex</th>
        <th>Type</th>
        <th>Age</th>
        <th>Phone Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @patients.each_with_index do |patient, ind| %>
        <tr>
          <td><%= ind + 1 %></td>
          <td><%= patient.name %></td>
          <td><%= patient.case_number %></td>
          <td><%= patient.sex %></td>
          <td><%= patient.patient_type %></td>
          <td><%= patient.age %></td>
          <td><%= patient.phone_number %></td>
          <td>
            <%= link_to 'View', patient_path(patient), class: 'btn btn-view' %>
            <%= link_to 'Edit', edit_patient_path(patient), class: 'btn btn-edit' %>
            <%= link_to 'Follow ups', patient_follow_ups_path(patient), class: 'btn btn-followup' %>
            <%= link_to 'New Appointment', new_patient_appointment_path(patient), class: 'btn btn-appointment'%>
            <%= link_to 'Delete', patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-delete' %>
            <%= link_to 'Signature', signature_patient_path(patient), class: 'btn btn-signature'%>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= paginate @patients %>
</div>


