<h1 class="patient-title">Patient Details</h1>

<div class="patient-details">

  <div class="patient-info">

    <% if @patient.photo.persisted? %>
    <p> <%= image_tag @patient.photo, height: 200 %> </p>
    <%end%>
    <p><strong>Name:</strong> <%= @patient.name %> </p>
    <p><strong>Sex:</strong> <%= @patient.sex %></p>
    <p><strong>Chief Complaints:</strong> <%= @patient.chief_complaints %></p>

    <p><strong>Address:</strong> <%= @patient.address %></p>
    <p><strong>Phone Number:</strong> <%= @patient.phone_number %></p>
    <p><strong>Case Number:</strong> <%= @patient.case_number %></p>
    <p><strong>Date of Birth:</strong> <%= @patient.date_of_birth %></p>
    <p><strong>Patient Type:</strong> <%= @patient.patient_type %></p>
    <p><strong>Weight:</strong> <%= @patient.weight %></p>
    <p><strong>Occupation:</strong> <%= @patient.occupation %></p>

    <p><strong>Reference By:</strong> <%= @patient.reference_by %></p>
    <p><strong>Email:</strong> <%= @patient.email %></p>
  </div>

  <div class="patient-actions">
    <%= link_to 'Edit', edit_patient_path(@patient), class: 'btn btn-warning' %>
    <%= link_to 'Back to List', patients_path, class: 'btn btn-secondary' %>
    <%= link_to 'Follow ups', patient_follow_ups_path(@patient), class: 'btn btn-info' %>
    <%= link_to 'New Appointment', new_patient_appointment_path(@patient), class: 'btn btn-view'%>
    <%= link_to 'Signature', signature_patient_path(@patient), class: 'btn btn-followup'%>

    
  </div>
</div>