<center><h1>Countries</h1>

<%= link_to 'New Country', new_country_path, class: 'btn btn-primary mb-10' %>
</center>
<div class="search-bar">
  <%= form_with url: countries_path, method: :get, local: true do %>
    <input type="text" name="query" placeholder="Search by Name or Case Number" value="<%= params[:query] %>">
    <button type="submit">Search</button>
  <% end %>
</div>

<div class="patient-table">

  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Name</th>
        <th>ISO Code</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @countries.each_with_index do |country, ind| %>
        <tr>
          <td><%= ind + 1 %></td>
          <td><%= country.name %></td>
          <td><%= country.iso_code %></td>
          <td>
            <%= link_to 'View', country_path(country), class: 'btn btn-view' %>
            <%= link_to 'Edit', edit_country_path(country), class: 'btn btn-edit' %>
            <%= link_to 'Delete', country_path(country), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="pagination">
  <%= paginate @countries %>
</div>
